* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  overflow: hidden;
  background-color: black;
}
#particles-js {
  width: 100%;
  height: 100vh;
}
.background-image {
  position: absolute;
  background-image: url("assests/background-movie.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  filter: blur(3px);
  z-index: -1;
}
.container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin: 130px;
}

.heading {
  position: absolute;
  width: 100%;
  align-items: center;
  color: white;
  font-size: 60px;
  padding: 20px;
  transition: all 1s ease;
}
.label {
  color: white;
  margin: 50px 0 15px 20px;
  font-size: 25px;
  transition: all 1s ease;
}
.input {
  margin: 0 0 20px 20px;
  width: 500px;
  transition: all 2s ease;
}
.button {
  margin: 0 0 20px 20px;
  font-size: 18px;
  transition: all 1s ease;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.5);
}
.poster {
  height: 500px;
  width: 400px;
  border-radius: 8px;
  transition: all 2s ease;

  animation: imageAnimation 2s ease;
}
h2 {
  margin: 0 0 20px 20px;
  color: white;

  animation: textAnimation 2s ease;
}

.input:hover, .heading:hover, .label:hover, .button:hover, .poster:hover {
  transform: scale(1.1);
}

@keyframes imageAnimation {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes textAnimation {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
